

{% extends "base.html" %}
{% load custom_filters %}
{% block content %}
<div class="container">
    <h1 class="mb-4">Sepetiniz</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ürün</th>
                <th scope="col">Fiyat</th>
                <th scope="col">Miktar</th>
                <th scope="col">Toplam Fiyat</th>
                <th scope="col">İşlem</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td>
                    <a href="{% url 'ecommerceapp:view_product' id=item.id %}"><img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-thumbnail" style="max-width: 100px;"></a>
                    {{ item.product.name }}
                </td>
                <td style="color: green;">${{ item.product.price|floatformat:"2" }}</td>
                <td>
                    <form method="post" action="{% url 'ecommerceapp:update_quantity' item.product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="number" name="quantity" value="{{ item.quantity }}" class="form-control" min="1">
                            <button type="submit" class="btn btn-primary">Güncelle</button>
                        </div>
                    </form>
                </td>
                <td>
                    

                    <p class="text-success">${{ item.total_display }}</p>

                </td>
                <td>
                    <form method="post" action="{% url 'ecommerceapp:deletecart' item.product.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Sil</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="total-price">
        <p style="color: green;"><strong style="color: black;">Toplam Tutar:</strong> ${{ cart_total }}</p>
    </div>

    <form method="post" action="{% url 'ecommerceapp:checkout' %}">
        {% csrf_token %}
        <div class="checkout-button">
            <button type="submit" class="btn btn-success">Satın Al</button>
        </div>
    </form>
</div>

{% endblock %}
